<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>

    <meta name="viewport" content="width=device-width, user-scalable=no">

    {# 
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
    #}
    {{ encore_entry_link_tags('css/app') }}
    <script src="https://kit.fontawesome.com/92d6f122cc.js" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% include "partials/header.html.twig" %}

    {% block body %}{% endblock %}

    {% include "partials/footer.html.twig" %}

    {{ encore_entry_script_tags('js/app') }}

    {#
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    #}

    {% block javascripts %}{% endblock %}
</body>

</html>