{% extends "base.html.twig" %}

{# Ceci est un commentaire #}

{% block title %}
Bienvenue sur le meilleurs réseau de logements
{% endblock title %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymBNB!</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités
            et obtenir un revenu en proposant leurs biens à la location.</p>
        <hr class="my-4">
        <p>Vous êtes voyageur et recherchez un logement pour votre prochain déplacement ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2 class="h1 my-5">Nos appartements star</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="Card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / par nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display:block">
                <div class="card-body">
                    <h4 class="card-title">
                        Super appartement !
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dicta illo
                        beatae, explicabo alias modi placeat aut dignissimos, adipisci accusantium iusto deleniti
                        consequuntur. Quis, velit ullam accusantium est doloribus officiis!</p>
                    <a href="#" class="btn btn-secondary">En savoir plus...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / par nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display:block">
                <div class="card-body">
                    <h4 class="card-title">
                        Super appartement !
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dicta illo
                        beatae, explicabo alias modi placeat aut dignissimos, adipisci accusantium iusto deleniti
                        consequuntur. Quis, velit ullam accusantium est doloribus officiis!</p>
                    <a href="#" class="btn btn-secondary">En savoir plus...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="Card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / par nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display:block">
                <div class="card-body">
                    <h4 class="card-title">
                        Super appartement !
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dicta illo
                        beatae, explicabo alias modi placeat aut dignissimos, adipisci accusantium iusto deleniti
                        consequuntur. Quis, velit ullam accusantium est doloribus officiis!</p>
                    <a href="#" class="btn btn-secondary">En savoir plus...</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 my-5">Nos propriétaires stars</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Arnaud FROUIN</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar d'Arnaud FROUIN" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ullam?</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Arnaud FROUIN</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar d'Arnaud FROUIN" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, ullam?</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus...</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

{% endblock %}