{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class="container">
    <h1>La page que vous cherchez n'existe pas.</h1>

    <p class="my-5">Nous sommes désolés de ne pas être en mesure d'afficher la page que vous souhaitiez atteindre.</p>

    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à la page d'accueil</a>
    <a href="{{ path('ads_index') }}" class="btn btn-success">Nos annonces</a>
</div>

{% endblock %}

